<div class="welcome">
    <div>Welcome<span><%=name%></span></div><br>

</div>
<div class="our-team">
    <div>Our<span>Team</span></div>
</div>
<div class="container">
    <% users.forEach(user=>{ %>
        <div class="card" style="background-color: rgb(171, 164, 164);">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5Nv9ABIbG874uoduwWiGydgOZzgY2Z0nuew&usqp=CAU" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <%=user.name%>
                </h5>
                <p class="card-text">
                    <%=user.role%>
                </p>

                <div class="led-box">
                    <div id="led-<%=user._id%>" class="<%= user.connected ? 'led-green' : 'led-grey'%>"></div>
                    <p id="txt-<%=user._id%>">
                        <%= user.connected ? 'Connected' : 'Disconnected'%>
                    </p>

                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%=user._id%>" style="outline: none;">Details</button>

                <!-- Modal -->
                <div class="modal fade" id="<%=user._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">
                                    <%=user.name%> -
                                        <%=user.role%>
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <h4>E-mail :
                                    <%=user.email%>
                                </h4>
                                <h4>Mobile :
                                    <%=user.mobilePhone%>
                                </h4>
                                <h4>Office :
                                    <%=user.officePhone%>
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% }) %>
</div>