<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=pageTitle%>
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/new-article.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="top">
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    UNIVERSITY LIBRARY
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/library">Back</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="header">
            <div style="font-weight: bolder; top: 100px; left: 450px;">Edit<span> article</span></div>
        </div>
        <br>
        <div class="login" style="top: 200px; left: 600px; width: 50%;">

            <% if(errorMessage!=='') { %>
                <div style="color: red; font-size: 20px;">
                    <%=errorMessage%>
                </div>
                <% } %>
                    <% if(succesMessage!=='') { %>
                        <div style="color: rgb(38, 0, 255); font-size: 20px;">
                            <%=succesMessage%>
                        </div>
                        <% } %>
                            <form action="/edit-article" method="POST">
                                <input style="width: 500px;" type="text" placeholder="title" name="title" value="<%=article.title%>"><br>
                                <input style="width: 500px;" type="text" placeholder="type" name="type" value="<%=article.typeOfArticle%>"><br>
                                <input style="width: 500px;" type="text" placeholder="author" name="author" value="<%=article.author%>"><br>
                                <label for="description">Description</label><br>
                                <textarea name="description" id="" cols="60" rows="5"><%=article.description%></textarea><br>
                                <label for="check-stolen">Stolen</label>
                                <input type="radio" id="check-stolen" name="position" <%=article.isStolen ? 'checked': ''%>
                                <%=!article.isAvailable&&!article.isStolen&&!article.isDistroyed ? 'disabled': ''%>>
                                    <label style="margin-left: 50px;" for="check-distroyed">Distroyed</label>
                                    <input type="radio" id="check-distroyed" name="position" <%=article.isDistroyed ? 'checked': ''%>
                                    <%=!article.isAvailable&&!article.isStolen&&!article.isDistroyed ? 'disabled': ''%>>
                                        <label style="margin-left: 50px;" for="check-available">Available</label>
                                        <input type="radio" id="check-available" name="position" <%=article.isAvailable ? 'checked': ''%>
                                        <%=!article.isAvailable&&!article.isStolen&&!article.isDistroyed ? 'disabled': ''%>>
                                            <label style="margin-left: 50px;" for="check-lent">Lent</label>
                                            <input type="radio" id="check-lent" name="position" <%=!article.isAvailable&&!article.isStolen&&!article.isDistroyed ? 'checked': ''%> disabled><br>

                                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                            <button style="margin-left: 120px;" class="btn1" type="submit">Update article</button>
                            </form>
        </div>

    </div>
</body>
<script>
    $(document).ready(function() {
        $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
        });
    });

    // Scrolling Effect

    $(window).on("scroll", function() {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        } else {
            $('nav').removeClass('black');
        }
    })
</script>


</html>