<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=pageTitle%>
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/pagination.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="top">
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    UNIVERSITY LIBRARY
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/new-user">Create user</a></li>
                        <li><a href="/update-user/<%=userId%>">Update your data</a></li>
                        <li><a href="/sessions">Manage users</a></li>
                        <li>
                            <form action="/logout" method="POST">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button type="submit">Logout</button>
                            </form>
                        </li>



                    </ul>
                </div>
            </nav>
        </header>
        <div class="welcome">
            <div>Welcome<span><%=name%></span></div>
        </div>
        <div class="our-team">
            <div>Our<span>Team</span></div>
        </div>
        <div class="container">
            <% users.forEach(user=>{ %>
                <div class="card" style="background-color: rgb(171, 164, 164);">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5Nv9ABIbG874uoduwWiGydgOZzgY2Z0nuew&usqp=CAU" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=user.name%>
                        </h5>
                        <p class="card-text">
                            <%=user.role%>
                        </p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Details</button>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">
                                    <%=user.name%> -
                                        <%=user.role%>
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <h4>E-mail :
                                    <%=user.email%>
                                </h4>
                                <h4>Mobile :
                                    <%=user.mobilePhone%>
                                </h4>
                                <h4>Office :
                                    <%=user.officePhone%>
                                </h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
        <div class="pagination-container">
            <% if(totalPage>1) { %>
                <div class="demo">
                    <nav class="pagination-outer" aria-label="Page navigation">
                        <ul class="pagination">

                            <% if(totalPage===2) { %>
                                <li class="page-item">
                                    <a href="?page=1" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="page-item <%=page=='1'?'active':''%>"><a class="page-link" href="?page=1">1</a></li>
                                <li class="page-item <%=page=='2'?'active':''%>"><a class="page-link" href="?page=2">2</a></li>
                                <li class="page-item">
                                    <a href="?page=2" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                                <%} else { %>
                                    <li class="page-item <%=page=='1'?'active':''%>"><a class="page-link" href="?page=1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <% } %>

                        </ul>
                    </nav>
                </div>
                <% } %>
        </div>

</body>
<script>
    $(document).ready(function() {
        $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
        });
    });

    // Scrolling Effect

    $(window).on("scroll", function() {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        } else {
            $('nav').removeClass('black');
        }
    })
</script>


</html>