<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=pageTitle%>
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/led.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <header>
            <nav class="top">
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    UNIVERSITY LIBRARY
                </div>
                <div class="menu">
                    <ul>

                        <li><a href="/library">Library</a></li>
                        <li><a href="/update-user/<%=userId%>">Update your data</a></li>
                        <li>
                            <form action="/logout" method="POST">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                <button type="submit">Logout</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <%-include('../includes/team.ejs')%>
            <%-include('../includes/pagination.ejs')%>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('logon', data => {
            const id1 = '#led-' + data.userId;
            const id2 = '#txt-' + data.userId;
            $(id1).attr('class', 'led-green')
            $(id2).html("Connected")
        })
        socket.on('logout', data => {
            const id1 = '#led-' + data.userId;
            const id2 = '#txt-' + data.userId;
            $(id1).attr('class', 'led-grey')
            $(id2).html("Disconnected")
        })
    </script>
</body>

<script>
    $(document).ready(function() {
        $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
        });
    });


    // Scrolling Effect

    $(window).on("scroll", function() {
        if ($(window).scrollTop()) {
            $('nav').addClass('black');
        } else {
            $('nav').removeClass('black');
        }
    })
</script>


</html>